*.cpp linguist-vendored
*.h linguist-vendored
*.cc linguist-vendored
ios/* linguist-vendored
android/* linguist-vendored
windows/* linguist-vendored
linux/* linguist-vendored
macos/* linguist-vendored
*.dart linguist-detectable=true